.modal_nav{
    background-color: #3F51B5;
    color:white;
    padding: 10px;
}

.nav__text{
    text-align: center;
}

.settleup_content_text{
    display: flex;
    flex-direction: column;
}

.flex_box{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}