.transaction_container{
    display: flex;
    width: 100%;
}
.head{
    box-shadow: 0 0 0.2rem black;
}
.head> td{
    text-align: center;
}
.row:nth-child(odd){
    /* background-color: rgb(187, 184, 184); */
    color:blue;
}
.row:nth-child(even){
}

.row > td{
    text-align: center;
}

.updateBtn{
    background-color: orange;
}